body {
    margin: 0;
    justify-content: center;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
}


#background-div {
    background-image: url("dcsubway.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

main {
    height: 100%;
    margin: 0;
    padding-top: 1vw;
}

div #cream-box {
    opacity: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: antiquewhite;
    min-height: 400px;
    min-width: 450px;
    border-radius: 15px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    background: darkslategray;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    /* adjustments */
    justify-content: center;
    box-shadow:     
    12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    /* background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25)); */
}
button:hover {
    background-color: rgb(68, 110, 110);
}

#increment-btn {
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

#save-btn {
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.302);
}

#subwayHeader {
    font-family: 'Chakra Petch', sans-serif;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 10px;
    border-style: solid;
    border-color:rgb(166, 155, 140);
    border-width: 4px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.676), rgba(86, 86, 85, 0.22));
    /*box-shadow:     
     12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset; */
}

#spacer {
    color:antiquewhite;
}

footer {
    background-color: antiquewhite;
    padding: 10px;
    left: 0 ; right: 0; bottom: 0; 
    height:30px; 
    position: sticky;
}
#footerText {
    float: right;
}